.animationContainer {
  position: relative;
  width: 300px;
  height: 300px;
  pointer-events: none;
}

.sparkle {
  position: absolute;
  width: 100px;
  height: 100px;
  background: radial-gradient(circle, rgb(45, 208, 99), rgba(255, 255, 0, 0.1));
  border-radius: 50%;
  animation: sparkle 1.5s ease-out forwards;
  top: 100px;
  left: 100px;
  transform: translate(-50%, -50%);
}

@keyframes sparkle {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.fireworks {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #f00;
  border-radius: 50%;
  bottom: 50px;
  left: 50px;
  animation: fireworks 1s ease-out forwards;
}

@keyframes fireworks {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(calc(-50% + 200px), calc(-50% - 200px)) scale(0);
    opacity: 0;
  }
}
